.filters {
  z-index: 4;
  position: fixed;
  height: 100%;
  left: 0%;
  background-color: white;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  width: 0%;
  transition: width 0.5s;
}

.filters.shown {
  width: 350px;
}

@media only screen and (max-width: 728px) {
  .filters.shown {
    width: 100%;
  }
}
