.list {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 70%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  z-index: 1;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.tile {
  font-size: 16px;
  margin: 0px;
  width: 90%;
  z-index: 1;
  margin: 16px;
  display: flex;
  align-items: center;
}

.icon > img {
  width: 64px;
  height: 64px;
}

.content {
  width: 100%;
  margin: 16px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.tileTitle {
  font-weight: bold;
}


.tileLabel {
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 14px;
  color: #555555;
}

.midLine {
  height: 100px;
  margin: 1px;
  margin-left: 16px;
  min-height: 100%;
  border-right: 1px solid #aaaaaa;
}

.tileDesc {
  margin-top: 2px;
  text-align: justify;
}

.contact {
  color: #555555;
  font-size: 14px;
  margin-top: 8px;
}

.contactOption {
  display: flex;
  align-items: center;
  margin: 2px;
}

.contactOption > a {
  margin-left: 4px;
}

.contactIcon {
  font-size: 22px !important;
}


@media only screen and (max-width: 728px) {

  .tileHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .icon > img {
    height: 32px;
    width: 32px;
  }

  .tileTitleAndLabel {
    margin-left: 8px;
  }

  .list {
    margin-top: 30%;
    width: 90%;
  }
  .tile {
    margin: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    flex-direction: column;
  }

  .tileDesc {
    margin-top: 4px;
    font-size: 13px;
  }
  .midLine {
    height: 32px;
    margin-left: 8px
  }

  .tile {
    font-size: 13px;
  }

  .tileLabel {
    font-size: 12px;
  }

  .contact {
    font-size: 13px;
  }

  .contactIcon {
    font-size: 16px !important;
  }
}
